html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


* {
    box-sizing: border-box;
}


body {
    margin: 0 8%;
    background-color: rgb(231, 231, 231);
    max-width: 99.75em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0.5rem 0;
    font-weight: normal;
}

h2 {
    margin: 1.8rem 0 0 0;
    font-weight: normal;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 238);
}


/****************************/
/*          HEADER          */
/****************************/

header nav {
    display: flex;
    background-color: white;
    padding: 0 2rem;
}

header ul:last-child {
    margin-left: auto;
}

header ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    column-gap: 1.2rem;
    align-items: center;

}

header ul:first-child li:nth-child(2) a {
    display: flex;
    align-items: center;
}

header li:nth-child(2) img:last-of-type {
    margin-top: 0.2rem;
}

/* header input[type="checkbox"] {
    margin: 2000;
    padding: 0;
} */

header input[type="checkbox"]:checked>.on-button-click-nav {
    display: block;
}

.search-button {
    display: none;
}

.search-button a {
    color: black;
}

header input {
    width: 18rem;
    height: 1.8rem;
    margin-left: 2.5rem;
}

header input:focus+.search-button {
    display: initial;
    padding: 0.3rem;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    vertical-align: middle;
}

.brand-align {
    display: flex;
    flex-direction: column;
    margin-left: 0.2rem;
}

/****************************/
/*          MAIN            */
/****************************/


main {
    display: flex;
    padding-top: 1.5rem;
    background-color: white;
}

.left-side-nav {
    flex: 1;
    margin-top: 4rem;
}

.description {
    flex: 3;
}

.empty-right-column {
    flex: 0.5;
}

.on-button-click-nav {
    display: none;
}

.on-button-click-nav ul {
    background-color: rgb(243, 243, 243);
    /* margin-right: 2rem; */
    font-size: small;
    padding: 1rem 0;
}


.on-button-click-nav ul,
.left-side-nav ul {
    padding-inline-start: 0;
    list-style-type: none;
    padding-left: 1rem;
    margin: 0 1rem 0 0.5rem;
}

.on-button-click-nav li,
.left-side-nav li {
    padding: 0.2rem 0;
    /* font-size: small; */
}

.left-side-nav a:hover {
    text-decoration: underline;
}


.outer-flex-container {
    display: flex;
    column-gap: 1rem;
}

.outer-flex-container>div:first-child {
    flex: 3;
}

.outer-flex-container>div:last-child {
    flex: 2;
    max-width: 330px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

.outer-flex-container>div:last-child .bold-with-margin {
    margin: 1rem;
    display: block;
}

.outer-flex-container img {
    max-width: 85%;
}

.inner-flex-container {
    display: flex;
    margin: 0.5rem 0.8rem;
    text-align: left;
    line-height: 1.2rem;
}

.inner-flex-container div:first-child {
    flex-grow: 1;
    flex-basis: 35%;
    align-items: flex-start;
}

.inner-flex-container div:last-child {
    flex-grow: 1;
    flex-basis: 65%;
}

.description-header {
    display: flex;
}

.description-header ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    column-gap: 1rem;
    margin: 0;
}

.description-header ul:last-child {
    margin-left: auto;
}


.description-header a:hover {
    text-decoration: underline;
}

.description li {
    margin-top: 0.5rem;
}

.references {
    display: flex;
}

.references ol {
    flex: 1;
}


footer {
    background-color: #fff;
    padding: 4rem 4rem;
    font-size: 0.9rem;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    column-gap: 1rem;
}

footer a {
    text-decoration: none;
}