html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40%;
    padding: 0.7rem 0;
    background-color: lightblue;
}

nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
}

nav h1 {
    cursor: pointer;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    color: black;
    padding: 0.8rem 0;
}

nav h1 a:hover {
    color: white;
}

nav li {
    border-radius: 20px;
    overflow: hidden;
}

nav li:first-child {
    background-color: lightseagreen;
}

nav li:nth-child(2) {
    background-color: rgb(32, 178, 93);
}

nav li:last-child {
    background-color: rgb(90, 109, 212);
}

nav li a {
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li:first-child a:hover {
    background-color: rgb(53, 218, 209);
    color: black;
}

nav li:nth-child(2) a:hover {
    background-color: lightgreen;
    color: black;
}

nav li:last-child a:hover {
    background-color: rgb(149, 161, 231);
    color: black;
}


/*********************************************/

main {
    margin: 1rem 5%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

main header {
    text-align: center;
    padding-top: 1rem;

}

/*************************************/

.glossary {
    flex: 3.5;
    background-color: rgb(224, 233, 236);
    /* border-right: 1px solid dimgray; */
}

article {
    margin: 0rem 3rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid #272727;
}

article pre {
    background-color: #fff;
    width: 80%;
}


/*************************************/


.articles-links {
    flex: 1;
    background-color: rgb(233, 233, 233);
    /* border: 1px solid black; */
    /* max-width: 25%; */
}

.articles-links ul {
    margin-top: 2.5rem;
    /* margin-left: 2rem; */
    list-style-type: none;
    padding-inline-start: 0;
}

.articles-links li {
    /* margin-top: 0.8rem; */
    text-align: center;
}

.articles-links a {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #272727;
}

.articles-links a:hover {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}